
.h1-desktop img{
    height: 25px;
}

nav ul {
    display: block;
}

nav .fa-solid {
    display: none;
}

nav ul {
    background-color: var(--white);
    position:static;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    padding-top: 0px;
    z-index: 1;
    transition: none;
}


nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

.overlay h1 {
    font-size: 7rem;
}

.overlay p {
    margin: 20px 0;
    font-size: 3rem;
}

.overlay a{
    border: none;
    background-color: #d62d20;
    padding: 8px;
    border-radius: 15px;
    font-size: 2rem;
}

#nosotros h2 {
    font-size: 7rem;
    color: #d62d20;
}

#nosotros p {
    font-size: 1.8rem;
    margin-top: 10px;
}

#nosotros {
    background-image: none;
}

#nosotros .col2 {
    display: grid;
    place-items: center
}

#nosotros img {
    width: 100%;
}

#clases {
    position: static;
}

#clases h2 {
    font-size: 7rem;
}

#clases .col1 img{
    margin-top: 0;
    width: 100%;
    opacity: 100%;
    position: static;
    border-radius: 10px;
}

#clases .col2 {
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#clases .yoga-description {
    display: block;
}
#clases .col2 li {
    list-style: none;
    margin-bottom: 15px;
}

#clases .col2 ul {
    margin: 15px 0;
}

#clases .col2 li, #clases .col2 p {
    font-size: 1.8rem;
}

#ofrecemos {
    padding: 40px;
    color:#2d2d2d;
}

#ofrecemos .col1 {
    text-align: center;
}

#ofrecemos .col1 h2 {
    font-size: 7rem;
    margin-bottom: 20px;
}

.ofrecemos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-left: 30px;
}

.ofrecemos-container .item {
    margin: 0 20px;
}
.ofrecemos-container i {
    font-size: 5rem;
}

#contacto h2 {
    font-size: 7rem;
    margin-bottom: 40px;
}


