*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

html {
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

:root{
    --white: #ffffff;
    --grey: #ababab;
    --red: 	#e0151c;
    --black: #000;
  }
  
body {
    background-color: var(--white);
    color: var(--black);
}

header {
    position: relative;
}

.btn-top {
    text-decoration: none;
    font-size: 3rem;
    color: var(--red);
    padding: 10px 20px;
    border: 1px solid var(--red);
    position: fixed;
    bottom: 10%;
    right: 10%;
    border-radius: 50%;
}

.btn-top:hover {
    transition: transform 0.5s;
    transform: translateY(-5px);
    color: var(--white);
    background-color: var(--red);
}

nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 10px 10% 0;
    position: fixed;
    top:0;
    right: 0;
    background-color: var(--white);
    width: 100%;
    z-index: 1;
}

.h1-responsive img{
    height: 25px;
}

.h1-desktop {
    display: none;
}

nav h1 {    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    color: var(--black);
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav .fa-solid {
    font-size: 2.5rem;
    cursor: pointer;
}

nav .fa-bars, nav .fa-xmark {
    color: var(--red);
    margin-top: 10px;
}

nav ul {
        background-color: var(--white);
        position: fixed;
        top: 0;
        right: -150px;
        width: 150px;
        height: auto;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

nav ul li {
    display: block;
    margin: 20px;
    text-align: center;
}

nav ul i {
    position: absolute;
    top:25px;
    left: 25px;
}

nav ul li a {
    padding: 5px;
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--black);
    position: relative;

}

.btn:hover {
    transition: transform 0.5s;
    transform: translateY(-5px);
}

nav ul li a:hover, .active {
    color: var(--white);
    text-decoration: none;
    background-color: #d62d20;
    border-radius: 5px;
}

#carouselExampleSlidesOnly img {
    height: 75vh;
    object-fit: cover;
    filter: grayscale(40%);
}

#carouselExampleSlidesOnly {
    position: relative;
}

#carouselExampleSlidesOnly .overlay .container,
#carouselExampleSlidesOnly .overlay .row {
  height: 100%;
}

.overlay {
    position:absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color:white;
}


.overlay p {
    margin: 20px 0;
    font-size: 1.8rem;
}

.overlay a{
    border: none;
    background-color: #d62d20;
    padding: 8px;
    border-radius: 15px;
    font-size: 1.6rem;
}

.overlay a:hover {
    color: var(--red)
}

#nosotros {
    background-image: url("../img/logo-transparente.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#nosotros .row {
    margin: 40px 0;
}

#nosotros .col1 {
    padding:  7%;
}

#nosotros h2 {
    font-size: 3rem;
    color: #d62d20;
}

#nosotros p {
    font-size: 1.4rem;
    margin-top: 10px;
}

#nosotros .col2 {
    display: none;
}

#clases {
    background: var(--black);
    padding: 40px 0;
    position: relative;
    z-index: -2;
}
.class-title {
    text-align: center;
}
#clases h2 {
    color: #ab9baa;
    font-size: 3rem;
    margin-bottom: 40px;
}

#clases .col1 img{
    margin-top: -40px;
    width: 90%;
    opacity: 30%;
    position: absolute;
    z-index: -1;
    
}

#clases .col2 {
    min-height: 350px;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
}

#clases .yoga-description {
    display: none;
}
#clases .col2 li {
    list-style: none;
    margin-bottom: 15px;
}

#clases .col2 ul {
    margin: 15px 0;
}

#clases .col2 li, #clases .col2 p {
    font-size: 1.8rem;
    

}

#clases a {
    text-decoration: none;
    color: #ab9baa;
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
}

#clases a:hover {
    background-color: rgb(27, 27, 27);
    color: #634761;
    transition: 0.5s;
}

.teacher {
    text-align: end;
}

#ofrecemos {
    padding: 40px;
    color:#2d2d2d;
    background-color: var(--white);
}

#ofrecemos .col1 {
    text-align: center;
}

#ofrecemos .col1 h2 {
    font-size: 3rem;
}

.ofrecemos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.ofrecemos-container .item {
    min-width: 240px;
    max-width: 300px;
    text-align: center;
    margin: 30px 0;
    padding: 0 auto;
}

.ofrecemos-container i {
    margin: 20px 0;
    font-size: 5rem;
}

.ofrecemos-container i:hover {
    transition: 0.3s;
    color: var(--red);
}

.ofrecemos-container .item p {
    font-size: 1.6rem;
}


#contacto {
    padding: 40px 0;
    background-color: #e4e1e4;
}

#contacto h2 {
    color: var(--black);
    font-size: 3rem;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10%;
}

.social-icons a {
    min-width: 250px;
    text-decoration: none;
    text-align: center;
    margin: 20px 0;
}

.social-icons a:hover {
    transition: transform 0.5s;
    transform: translateY(-5px);
}

.social-icons i {
    font-size: 7rem;
    margin-bottom: 10px;
}

.social-icons img {
    width: 130px;
}

.fa-envelope {
    color: #d62d20;
}

.fa-whatsapp {
    color: #42e961;
}

.social-icons p {
    font-size: 1.8rem;
    font-weight: bold;
}
footer {
    background-color: var(--black);
    color: var(--grey);
    width: 100%;
    padding: 20px 0;
    text-align: center;
    font-size: 1.2rem;
}